@model ENGLISH.Models.Test
@{
    ViewData["Title"] = "View";
}

<h1>@ViewData["notification"]</h1>
<form>
    <div class="form-group">
        <input type="submit" value="Privious" asp-controller="Exam" asp-action="Index" asp-route-id="@(Model.Id - 1)" class="btn btn-primary" />
        <input type="submit" value="Back" asp-controller="Exam" asp-action="Index" class="btn btn-primary" />
        <input type="submit" value="Next" asp-controller="Exam" asp-action="Index" asp-route-id="@(Model.Id + 1)" class="btn btn-primary" />
    </div>
</form>
